<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
    <th:block layout:fragment="title">
        <title>상세 페이지</title>
    </th:block>

    <th:block layout:fragment="content">
        <div class="page_tits">
            <h3>도서 관리</h3>
            <p class="path"><strong>현재 위치 :</strong> <span>도서 관리</span> <span>리스트형</span> <span>상세정보</span></p>
        </div>

        <div class="content">
            <section>
                <table class="tb tb_row">
                    <colgroup>
                        <col style="width:10%;"/><col style="width:23%;"/><col style="width:10%;"/><col style="width:23%;"/>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">도서 제목</th>
                            <td>[[ ${book.bookName} ]]</td>

                            <th scope="row">ISBN</th>
                            <td colspan="3">[[ ${book.isbn} ]]</td>
                        </tr>
                        <tr>
                            <th scope="row">저자</th>
                            <td colspan="3">[[ ${book.writer} ]]</td>
                        </tr>
                        <tr>
                            <th scope="row">가격</th>
                            <td colspan="3">[[ ${book.price} ]]원</td>
                        </tr>
                        <tr>
                            <th scope="row">출판사</th>
                            <td >[[ ${book.pbComp} ]]</td>

                            <th scope="row">출판일</th>
                            <td colspan="3" th:text="${#temporals.format( book.pbDate, 'yyyy-MM-dd' )}"></td>
                        </tr>
                        <tr>
                            <th scope="row">썸네일</th>
                            <td id="files" colspan="3">

                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="btn_set">
                    <button type="button" onclick="goWritePage();" class="btns btn_bdr4 btn_mid">수정</button>
                    <button type="button" onclick="deleteBook();" class="btns btn_bdr1 btn_mid">삭제</button>
                    <button type="button" onclick="goListPage();" class="btns btn_bdr3 btn_mid">뒤로</button>
                </p>

                <!--/* 리뷰 작성 */-->
                <div class="cm_write">
                    <fieldset>
                        <legend class="skipinfo">리뷰 입력</legend>
                        <div class="cm_input">
                            <p><textarea id="content" name="content" onkeyup="countingLength(this);" cols="90" rows="4" placeholder="리뷰을 입력해 주세요."></textarea></p>
                            <span><button type="button" class="btns" onclick="saveReview();">등 록</button> <i id="counter">0/300자</i></span>
                        </div>
                    </fieldset>
                </div>

                <!--/* 리뷰 렌더링 영역 */-->
                <div class="cm_list">

                </div>

                <!--/* 페이지네이션 렌더링 영역 */-->
                <div class="paging">

                </div>
            </section>
        </div> <!--/* .content */-->

        <!--/* 리뷰 수정 popup */-->
        <div id="reviewUpdatePopup" class="popLayer">
            <h3>리뷰 수정</h3>
            <div class="pop_container">
                <table class="tb tb_row tl">
                    <colgroup>
                        <col style="width:30%;" /><col style="width:70%;" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">작성자<span class="es">필수 입력</span></th>
                            <td><input type="text" id="modalWriter" name="modalWriter" placeholder="작성자를 입력해 주세요." /></td>
                        </tr>
                        <tr>
                            <th scope="row">내용<span class="es">필수 입력</span></th>
                            <td><textarea id="modalContent" name="modalContent" cols="90" rows="10" placeholder="수정할 내용을 입력해 주세요."></textarea></td>
                        </tr>
                    </tbody>
                </table>
                <p class="btn_set">
                    <button type="button" id="reviewUpdateBtn" class="btns btn_st2">수정</button>
                    <button type="button" class="btns btn_bdr2" onclick="closeReviewUpdatePopup();">취소</button>
                </p>
            </div>
            <button type="button" class="btn_close" onclick="closeReviewUpdatePopup();"><span><i class="far fa-times-circle"></i></span></button>
        </div>
    </th:block>

    <th:block layout:fragment="script">
        <script th:inline="javascript">
        /*<![CDATA[*/

            window.onload = () => {
                findAllFile();

                findAllReview();
            }


            // 전체 파일 조회
            function findAllFile() {

                // 1. API 호출
                const bookId = [[ ${book.bookId}]];
                const response = getJson(`/books/${bookId}/files`);

                // 2. 로직 종료
                if ( !response.length ) {
                    return false;
                }

                // 3. 파일 영역 추가
                let fileHtml = '<div class="file_down"><div class="cont">';
                response.forEach(row => {
                    fileHtml += `<a href="/books/${bookId}/files/${row.reviewId}/download"><span class="icons"><i class="fas fa-folder-open"></i></span>${row.originalName}</a>`;
                })
                fileHtml += '</div></div>';

                // 4. 파일 HTML 렌더링
                document.getElementById('files').innerHTML = fileHtml;
            }


           // 전체 리뷰 조회
            function findAllReview(page) {

                const uriPage = new URLSearchParams(location.search).get('page');
                page = (page) ? page : (uriPage ? Number(uriPage) : 1);

                const bookId = [[ ${book.bookId}]];
                const uri = `/books/${bookId}/reviews`;
                const params = {
                    page : page,
                    recordSize : 5,
                    pageSize : 10,
                    bookId : bookId,
                }

                const response = getJson(uri, params);
                const pagination = response.pagination;
                drawReviews(response.list);
                drawPage(pagination, page);
            }


            // 게시글 삭제
            function deleteBook() {

                const id = [[ ${book.bookId} ]];

                if ( !confirm(id + '번 게시글을 삭제할까요?') ) {
                    return false;
                }

                let inputHtml = '';

                new URLSearchParams(location.search).forEach((value, key) => {
                    inputHtml += `<input type="hidden" name="${key}" value="${value}" />`;
                })

                const formHtml = `
                    <form id="deleteForm" action="/book/delete.do" method="post">
                        ${inputHtml}
                    </form>
                `;

                const doc = new DOMParser().parseFromString(formHtml, 'text/html');
                const form = doc.body.firstChild;
                document.body.append(form);
                document.getElementById('deleteForm').submit();
            }


            // 게시글 수정 페이지로 이동
            function goWritePage() {
                location.href = '/book/write.do' + location.search;
            }


            // 게시글 리스트 페이지로 이동
            function goListPage() {
                const queryString = new URLSearchParams(location.search);
                queryString.delete('id');
                location.href = '/book/list.do' + '?' + queryString.toString();
            }


            // 리뷰 길이 카운팅
            function countingLength(content) {
                if (content.value.length > 300) {
                    alert('리뷰을 300자 이하로 입력해 주세요.');
                    content.value = content.value.substring(0, 300);
                    content.focus();
                }
                document.getElementById('counter').innerText = content.value.length + '/300자';
            }


            // 리뷰 저장
            function saveReview() {

                const content = document.getElementById('content');
                isValid(content, '리뷰');

                const bookId = [[ ${book.bookId} ]];
                const uri = `/books/${bookId}/reviews`;
                const params = {
                    bookId : bookId,
                    content : content.value,
                    writer : 2
                    //로그인 유저아이디로 바꿔야함
                }

                callApi(uri, 'post', params);   //uri, method, params
                alert('저장되었습니다.');
                content.value = '';
                document.getElementById('counter').innerText = '0/300자';
                findAllReview(1);
            }


            // 리뷰 수정 팝업 open
            function openReviewUpdatePopup(reviewId) {

                const bookId = [[ ${book.bookId} ]];
                const uri = `/books/${bookId}/reviews/${reviewId}`;
                const response = getJson(uri);
                document.getElementById('modalWriter').value = response.writer;
                document.getElementById('modalContent').value = response.content;
                document.getElementById('reviewUpdateBtn').setAttribute('onclick', `updateReview(${reviewId})`);
                layerPop('reviewUpdatePopup');
            }


            // 리뷰 수정 팝업 close
            function closeReviewUpdatePopup() {
                document.querySelectorAll('#modalContent, #modalWriter').forEach(element => element.value = '');
                document.getElementById('reviewUpdateBtn').removeAttribute('onclick');
                layerPopClose('reviewUpdatePopup');
            }


            // 리뷰 수정
            function updateReview(reviewId) {

                const writer = document.getElementById('modalWriter');
                const content = document.getElementById('modalContent');
                isValid(writer, '작성자');
                isValid(content, '수정할 내용');

                const bookId = [[ ${book.bookId} ]];
                const uri = `/books/${bookId}/reviews/${reviewId}`;
                const params = {
                    reviewId : reviewId,
                    bookId : bookId,
                    content : content.value,
                    writer : writer.value
                }

                callApi(uri, 'patch', params);
                alert('수정되었습니다.');
                closeReviewUpdatePopup();
                findAllReview();
            }


            // 리뷰 삭제
            function deleteReview(id) {

                if ( !confirm('선택하신 리뷰을 삭제할까요?') ) {
                    return false;
                }

                const bookId = [[ ${book.bookId} ]];
                const uri = `/books/${bookId}/reviews/${id}`;
                callApi(uri, 'delete');
                alert('삭제되었습니다.');
                findAllReview();
            }


            // 리뷰 HTML draw
            function drawReviews(list) {

                if ( !list.length ) {
                    document.querySelector('.cm_list').innerHTML = '<div class="cm_none"><p>등록된 리뷰이 없습니다.</p></div>';
                    return false;
                }

                let reviewHtml = '';

                list.forEach(row => {
                    reviewHtml += `
                        <div>
                            <span class="writer_img"><img src="/images/default_profile.png" width="30" height="30" alt="기본 프로필 이미지"/></span>
                            <p class="writer">
                                <em>${row.writer}</em>
                                <span class="date">${dayjs(row.createdDate).format('YYYY-MM-DD HH:mm')}</span>
                            </p>
                            <div class="cont"><div class="txt_con">${row.content}</div></div>
                            <p class="func_btns">
                                <button type="button" onclick="openReviewUpdatePopup(${row.reviewId});" class="btns"><span class="icons icon_modify">수정</span></button>
                                <button type="button" onclick="deleteReview(${row.reviewId});" class="btns"><span class="icons icon_del">삭제</span></button>
                            </p>
                        </div>
                    `;
                })

                document.querySelector('.cm_list').innerHTML = reviewHtml;
            }


            // 페이지네이션 HTML draw
            function drawPage(pagination, page) {

                // 1. 필수 파라미터가 없는 경우, 페이지네이션 HTML을 제거한 후 로직 종료
                if ( !pagination || !page ) {
                    document.querySelector('.paging').innerHTML = '';
                    throw new Error('Missing required parameters...');
                }

                // 2. 페이지네이션 HTML을 그릴 변수
                let html = '';

                // 3. 첫/이전 페이지 버튼 추가
                if (pagination.existPrevPage) {
                    html += `
                        <a href="javascript:void(0);" onclick="findAllReview(1)" class="page_bt first">첫 페이지</a>
                        <a href="javascript:void(0);" onclick="findAllReview(${pagination.startPage - 1})" class="page_bt prev">이전 페이지</a>
                    `;
                }

                // 4. 페이지 번호 추가
                html += '<p>';
                for (let i = pagination.startPage; i <= pagination.endPage; i++) {
                    html += `<a href="javascript:void(0);" onclick="findAllReview(${i});">${i}</a>`
                }
                html += '</p>';

                // 5. 다음/끝 페이지 버튼 추가
                if (pagination.existNextPage) {
                    html += `
                        <a href="javascript:void(0);" onclick="findAllReview(${pagination.endPage + 1});" class="page_bt next">다음 페이지</a>
                        <a href="javascript:void(0);" onclick="findAllReview(${pagination.totalPageCount});" class="page_bt last">마지막 페이지</a>
                    `;
                }

                // 6. <div class="paging"></div> 태그에 변수 html에 담긴 내용을 렌더링
                const paging = document.querySelector('.paging');
                paging.innerHTML = html;

                // 7. 사용자가 클릭한 페이지 번호(page) 또는 끝 페이지 번호(totalPageCount)에 해당되는 a 태그를 찾아 활성화(active) 처리한 후 클릭 이벤트 제거
                const currentPage = Array.from(paging.querySelectorAll('a')).find(a => (Number(a.text) === page || Number(a.text) === pagination.totalPageCount));
                currentPage.classList.add('on');
                currentPage.removeAttribute('onclick');

                // 8. 페이지 URI 강제 변경
                const bookId = new URLSearchParams(location.search).get('id');
                history.replaceState({}, '', location.pathname + `?id=${bookId}&page=${currentPage.text}`);
            }

        /*]]>*/
        </script>
    </th:block>
</html>
