<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body th:fragment="main-body">
    <div id="adm_wrap">
        <header>
            <div class="head">
                <h1>게시판 프로젝트</h1>
                <div th:if="${session.loginMember != null}" class="top_menu">
                    <div class="login_user"><strong><i class="far fa-user-circle"></i> [[ ${session.loginMember.name} ]]</strong>님 반갑습니다.</div>
                    <div class="logout">
                        <form action="/logout" method="post">
                            <button type="submit"><span class="skip_info">로그아웃</span><i class="fas fa-sign-out-alt"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </header>

        <div id="container">
            <div class="menu_toggle"><span></span></div>
            <!--/* 좌측 영역 */-->
            <div class="lcontent">
                <!--/* 메뉴 */-->
                <nav>
                    <ul class="category">
                        <li class="has_sub"><a href="javascript: void(0);" id="postManage"><span>게시판 관리</span></a>
                            <ul>
                                <li class="endMenu"><a href="/post/list.do"         id="postList">리스트형</a></li>
                                <li class="endMenu"><a href="javascript: alert('준비 중입니다.');">갤러리형</a></li>
                                <li class="endMenu"><a href="javascript: alert('준비 중입니다.');">캘린더형</a></li>
                            </ul>
                        </li>
                        <li class="has_sub"><a href="javascript: void(0);" id="adminUserManage"><span>회원 관리</span></a>
                            <ul>
                                <li class="endMenu"><a href="/admin/member/list.do"   id="adminUserList">관리자의 회원목록</a></li>
                                <li class="endMenu"><a href="/member/mypage.do"       id="userMyPage">유저의 마이페이지</a></li>
                                <li class="endMenu"><a href="/admin/member/write.do"  id="adminUserModify">관리자의 유저수정</a></li>
                            </ul>
                        </li>
                        <li class="has_sub" ><a href="javascript: void(0);" id="bookManage"><span>도서 관리</span></a>
                            <ul>
                                <li class="endMenu"><a href="/book/list.do"        id="bookList">도서목록</a></li>
                                <li class="endMenu"><a href="/book/write.do"       id="bookWrite">도서등록</a></li>
                            </ul>

                        </li>
                        <li><a href="javascript: alert('준비 중입니다.');"><span>대여(예약) 관리</span></a></li>
                    </ul>
                </nav>
            </div>

            <!--/* 우측 영역 */-->
            <div class="rcontent">

                <!--/* 페이지별 컨텐츠 */-->
                <th:block layout:fragment="content"></th:block>

            </div>
        </div> <!--/* // #container */-->
        <footer>Copyright(c)네임즈.All rights reserved.</footer>
    </div>

    <script th:src="@{/js/function.js}"></script>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script src="https://kit.fontawesome.com/79613ae794.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>

    <th:block layout:fragment="script"></th:block>
</body>
</html>
